.container{
  display: flex;
  flex-direction:row;
}
.songlist{
  width: 32rem;
  height: 28rem;
  border: solid 1px black;
}
ul{
  list-style-type: none;
}
.btn{
  display: flex;
  width: 24rem;
  height: 6rem;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  margin: 5px;
  background-color: grey;
}
.selectedsong{
  display:flex;
  flex-direction: column;
  width: 32rem;
  height: 26.5rem;
  border: solid 1px black;
  padding: 10px;
  margin-left: 10px;
}
