ul{
  list-style-type: none;
}
.btn{
  display: flex;
  width: 22rem;
  height: 6rem;
  flex-direction:row;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  margin: 5px;
}

