<h1>Listado de Canciones</h1>
<div class="container">
  <div class="songlist">
    <ul class="canciones">
      <li *ngFor="let cancion of canciones">
        <a class="btn" (click)="onSelectCancion(cancion)" [class.selected]="cancion===cancionSeleccionada">
          <div>
            <img src={{cancion.imagen}} width="75px" height="75px">
          </div>
          <div>
            <span class="cancionTitulo">{{cancion.titulo}}</span>
          </div>
          <div>
            <div><span class="detalleCancion">{{cancion.autor}}</span></div>
            <div><span class="detalleCancion">{{cancion.disc}}</span></div>
            <div><span class="detalleCancion">{{cancion.style}}</span></div>
          </div>

        </a>
      </li>
    </ul>
  </div>

  <app-cancion-detalle [cancion]="cancionSeleccionada"></app-cancion-detalle>

</div>
