<div class="container">
  <div class="buscador">
    <label class="label-buscador">Búsqueda por título: </label>
    <input type="text" class="input-buscador" placeholder="Ex. jazz" [(ngModel)]="busqueda">
  </div>


  <div class="songs">
    <div class="songlist">
      <ul class="canciones">
        <li class="list-group-item" *ngFor="let cancion of canciones | filtroCancion:{titulo:busqueda}">
          <a class="btn" (click)="onSelectCancion(cancion)" [class.selected]="cancion===cancionSeleccionada">
            <div class="song">
              <img src={{cancion.imagen}} width="75px" height="75px">
            </div>
            <div class="song-title">
              <span class="cancionTitulo">{{cancion.titulo}}</span>
            </div>
            <div class="song-info">
              <div><span class="detalleCancion">{{cancion.autor}}</span></div>
              <div><span class="detalleCancion">{{cancion.disc}}</span></div>
              <div><span class="detalleCancion">{{cancion.style}}</span></div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="cancion-seleccionada">
      <app-cancion-detalle [cancion]="cancionSeleccionada"></app-cancion-detalle>
    </div>
  </div>

  <div class="reproductor">
    <app-reproductor [cancion]="cancionSeleccionada"></app-reproductor>
  </div>


</div>
